{% include "layouts/header.njk" %}
<body class="indigo-skin white lighten-4">





{% include "layouts/navbar.njk" %}

{% block body %}

{% endblock %}
<br>
<br>



{% include "layouts/modals.njk" %}

</body>

{% include "layouts/footer.njk" %}