    <!-- Modal Forms All -->
  <!-- Login Modal Form -->
<div class="modal fade" id="modalLoginForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <ul class="nav md-pills nav-justified pills-default">
                <li class="nav-item">
                    <a class="nav-link active" data-toggle="tab" href="#login1" role="tab">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#register1" role="tab">Register</a>
                </li>
                <li class="float-right">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                </li>
            </ul>

            <!-- Tab panels -->
            <div class="tab-content">

                <!--Panel 1-->
                <div class="tab-pane fade in show active" id="login1" role="tabpanel">
                    <br>

             <br>
                    <div class="row">
                <div class="col-md-6">
                    <!-- Form Signup -->
                <form id="loginmodal">
                    <div class="md-form">
                        <i class="fa fa-envelope prefix grey-text"></i>
                        <input type="text" id="defaultForm-email" class="form-control">
                        <label for="defaultForm-email">Your email</label>
                    </div>

                    <div class="md-form">
                        <i class="fa fa-lock prefix grey-text"></i>
                        <input type="password" id="defaultForm-pass" class="form-control">
                        <label for="defaultForm-pass">Your password</label>
                    </div>

                    <div class="text-center">
                        <button class="submit_button btn blue-gradient btn-rounded waves-effect waves-light">Login</button>
                    </div>
                </form>
                <!-- Form Signup -->
                </div>
                <div class="col-md-6">
                <br>
                    <h3>Login With</h3>
                    <button type="button" class="btn btn-fb waves-effect waves-light">
                <i class="fa fa-facebook left"></i> Facebook</button>
                    <button type="button" class="btn btn-gplus waves-effect waves-light">
                <i class="fa fa-google-plus left"></i> Google +</button>
                </div>

                </div>

                </div>
                <!--/.Panel 1-->

                <!--Panel 2-->
                <div class="tab-pane fade" id="register1" role="tabpanel">
                    <br>
                    <div class="row">
                <div class="col-md-6">
                    <!-- Form Signup -->
                <form id="signupmodal">
                    <div class="md-form">
                        <i class="fa fa-envelope prefix grey-text"></i>
                        <input type="text" id="defaultForm-email" name="email" class="form-control">
                        <label for="defaultForm-email">Your email</label>
                    </div>

                    <div class="md-form">
                        <i class="fa fa-lock prefix grey-text"></i>
                        <input type="password" id="defaultForm-pass" name="password" class="form-control">
                        <label for="defaultForm-pass">Your password</label>
                    </div>

                    <div class="text-center">
                        <button class="submit_button btn blue-gradient btn-rounded waves-effect waves-light">Register</button>
                    </div>
                </form>
                <!-- Form Signup -->
                </div>
                <div class="col-md-6">
                <br>
                    <h3>Register With</h3>
                    <button type="button" class="btn btn-fb waves-effect waves-light">
                <i class="fa fa-facebook left"></i> Facebook</button>
                    <button type="button" class="btn btn-gplus waves-effect waves-light">
                <i class="fa fa-google-plus left"></i> Google +</button>
                </div>

                </div>
                </div>
               
                <!--/.Panel 2-->


            </div>
        </div>
    </div>
</div>

<!-- Login Modal Form End -->

<!-- test modal -->

<div class="modal fade" id="logintest" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
<form id="login" class="ajax-auth card p-0" action="login" method="post" style="display: block;" aria-hidden="true">
    <div class="card-body mx-4">

        <div class="text-center">
            <h3 class="dark-grey-text mb-5"><strong>Sign in</strong></h3>
        </div>

        <p class="status"></p>
        <input type="hidden" id="security" name="security" value="be71a465b8"><input type="hidden" name="_wp_http_referer" value="/layout/layout-grid/">
        <div class="md-form">
            <input type="text" id="username" class="form-control" name="username">
            <label for="username" class="">Your username</label>
        </div>

        <div class="md-form mb-1">
            <input type="password" id="password" class="form-control" name="password">
            <label for="password" class="">Your password</label>
        </div>
        
        <p class="login-font-small blue-text d-flex justify-content-end"><a class="blue-text" href="https://mdbootstrap.com/my-account/lost-password/">Forgot Password?</a></p>

        <div class="text-center mt-3 mb-3">
            <button class="submit_button btn blue-gradient btn-block btn-rounded waves-effect waves-light" type="submit" value="LOGIN">Sign in</button>
        </div>

        <div class="text-center mb-3 pt-2">
            


<!-- All Modal Forms End -->