{% extends "layouts/master.njk" %} {% block body %}
<br>
<br>
<br>
<div class="container">
    <div class="row">


        <div class="well">
            <h2>Login And Signup</h2>
        </div>


        <div class="col-md-6 col-md-offset-3">

            </form>

            <form action="/a/signupact" method="POST" id="siguppage">
                <div class="md-form">
                    <i class="fa fa-envelope prefix grey-text"></i>
                    <input type="text" id="defaultForm-email" name="username" class="form-control">
                    <label for="defaultForm-email" class="">Name</label>
                </div>
                <div class="md-form">
                    <i class="fa fa-envelope prefix grey-text"></i>
                    <input type="text" id="defaultForm-email" name="phone" class="form-control">
                    <label for="defaultForm-email" class="">Mobile Number</label>
                </div>
                <div class="md-form">
                    <i class="fa fa-envelope prefix grey-text"></i>
                    <input type="text" id="defaultForm-email" name="email" class="form-control">
                    <label for="defaultForm-email" class="">Email (Optional)</label>
                </div>
                <div class="md-form">
                    <i class="fa fa-lock prefix grey-text"></i>
                    <input type="password" id="defaultForm-pass" name="password" class="form-control">
                    <label for="defaultForm-pass" class="">Your password</label>
                </div>

                <div class="text-center">
                    <button class="submit_button btn blue-gradient btn-rounded waves-effect waves-light">signup</button>
                </div>
            </form>
        </div>

    </div>
</div>
{% endblock %}